body{
    background-color:#145A76;
    margin: 0;
    padding: 0;
}
.wrap{
    background-color: chartreuse;
}
/*--------aca comienza el encabezado o titulo de la pagina--------*/
header{
    width: 100%;
    margin-top: 0;
    font-family: 'Kalam', cursive;    
}
h1{
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: 'Courgette', cursive;
    font-family: 'Satisfy', cursive;
    padding: 0px;
    letter-spacing: 1px;
    color: #D0DDE2;
}
.risa{
    width: 40px;
    margin-top: 20px;
}
/*-----------desde aca comienza el menu de navegación-----------*/
nav{
    background-color: #4e94ab;
}

#btn-menu{
    display: none;
    position: absolute;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    position: absolute;
   
}

header label:hover{
    background: #145A76;
}

nav ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

nav li{
    text-align: center;
    flex-grow: 1;
}
nav li:hover{
    background: rgba(0, 0, 0, 0.3);
}
nav li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/*---------esta sera la seccion para la pagina de IMAGENES---------*/
#tremenda{
    margin: 20px 20%;
}
.imagenes{
    margin-top: 5px;
    border: solid 5px #000;
    padding: 0px;
}
.cortos{
    float: left;
    background-color: #fff;
    width: 60%;
    margin: 0px 0px 0px 150px;
    text-align: center;
    display: block;
    border-radius:0 0 15px 15px;
}
.ban{
    display: inline-block;
    margin: 60px 0px 0px 25px;
    padding: 0px;
    height: 80%;
}

/*--------------------esta sera la presentacion para mobiles--------------------*/
@media (max-width:480px) {
    #btn-menu:checked ~ nav{
        margin: 0;
        display: inline-block;
        }
    
    header label{
        display: block;
    }
    nav{
        position: absolute;
        background-color: #4e94ab;
        width: 80%;
        margin-left: -80%;
        transition: all 0.5s;
    }
    nav ul{
        flex-direction: column;
    }
}
.cortos{
    float: left;
    background-color: #fff;
    width: 75%;
    margin: 0px 0px 0px 25px;
    text-align: center;
    border-radius: 0 0 15px 15px;
}
.ban{
    display: inline-block;
    margin-top: 55px;
    margin-left: 35px;
    padding: 0px;
    height: 80%;
}

.mobil{
    color: #000;
}

/*--------------------esta sería la presentación para tabletas--------------------*/
@media (max-width: 600px) {
    #btn-menu:checked ~ nav{
        margin: 0;
        display: inline-block;
        }
    
    header label{
        display: block;
    }
    nav{
        position: absolute;
        background-color: #4e94ab;
        width: 80%;
        margin-left: -80%;
        transition: all 0.5s;
    }
    nav ul{
        flex-direction: column;
    }
    footer{
        display: block;
        margin-top: 40%;
        text-align: center;
        color: #fff;
    }
}